[Unit]
Description= service
After=network.target auditd.service

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi
ExecStart=python3 /home/pi/work/twelite_ambient_sender/main.py
Restart=always

[Install]
WantedBy=multi-user.target
